.car-details-page {
  padding: 40px;
}

.back-btn {
  background: none;
  border: none;
  color: #2563eb;
  cursor: pointer;
  margin-bottom: 20px;
}

.details-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.details-left img {
  width:60%;
  height: auto;
  border-radius: 16px;
  margin-bottom: 20px;
  margin-left: 160px;
}

.specs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.details-right {
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.book-btn {
  width: 100%;
  padding: 14px;
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 16px;
}

.note {
  font-size: 13px;
  color: #6b7280;
  margin-top: 10px;
}
