.review-form {
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  padding: 28px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.review-form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.review-form input,
.review-form textarea,
.review-form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.review-form textarea {
  height: 120px;
  resize: none;
}

.review-form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #000, #333);
  color: #D8BB68;
  border-radius: 18px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.review-form button:hover {
  transform: translateY(-3px);
}
